[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andrew Zakharov (Andrew-Zakharov)
	labelAs-Code-Review = -2..+2 group Registered Users
[access "refs/for/refs/*"]
	read = group user/Andrew Zakharov (Andrew-Zakharov)
	push = group user/Andrew Zakharov (Andrew-Zakharov)
	label-Code-Review = -2..+2 group Registered Users
	label-Code-Review = -2..+2 group user/Andrew Zakharov (Andrew-Zakharov)
	label-Verified = -1..+1 group user/Andrew Zakharov (Andrew-Zakharov)
	rebase = group user/Andrew Zakharov (Andrew-Zakharov)
	removeReviewer = group user/Andrew Zakharov (Andrew-Zakharov)
	submit = group user/Andrew Zakharov (Andrew-Zakharov)
	labelAs-Code-Review = -2..+2 group Registered Users
[access "refs/heads/*"]
	read = group user/Andrew Zakharov (Andrew-Zakharov)
	create = group user/Andrew Zakharov (Andrew-Zakharov)
	push = +force group user/Andrew Zakharov (Andrew-Zakharov)
	pushMerge = group user/Andrew Zakharov (Andrew-Zakharov)
	labelAs-Code-Review = -2..+2 group Registered Users
	label-Code-Review = -2..+2 group Registered Users
[access "refs/tags/*"]
	push = +force group user/Andrew Zakharov (Andrew-Zakharov)
	pushTag = group user/Andrew Zakharov (Andrew-Zakharov)
	pushSignedTag = group user/Andrew Zakharov (Andrew-Zakharov)
